.bg-image {
  position: relative;
  background: linear-gradient(rgba(8, 8, 8, 0.3), rgba(8, 8, 8, 0.3)), url('https://media.istockphoto.com/id/922783734/photo/assorted-indian-recipes-food-various.jpg?s=612x612&w=0&k=20&c=p8DepvymWfC5j7c6En2UsQ6sUM794SQMwceeBW3yQ9M=');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title {
  text-transform: uppercase;
  letter-spacing: 16px;
  color: #fff;
  font-size: 80px;
  margin-bottom: 32px;
}

.search-box {
  padding-top: 100px !important;
  padding-bottom: 20px !important;
}

.search-heading {
  font-size: 30px;
  margin-bottom: 16px;
}

.detailsPageContent {
  padding-top: 100px !important
}